{% extends "base.html" %}
{% load static %}
{% block content %}
<br>
	
	<center>
		<img id='team-photo' src="{% static 'images/team/no-face.jpg' %} " >
		<p></p>
		<p>Фамилия Имя, должность</p>
	</center>
	<p>
		Немного об участнике тренерского состава. Немного об участнике тренерского состава. Немного об участнике тренерского состава. Немного об участнике тренерского состава. Немного об участнике тренерского состава. Немного об участнике тренерского состава. Немного об участнике тренерского состава. Немного об участнике тренерского состава. Немного об участнике тренерского состава. Немного об участнике тренерского состава. Немного об участнике тренерского состава. Немного об участнике тренерского состава. Немного об участнике тренерского состава. Немного об участнике тренерского состава. Немного об участнике тренерского состава. Немного об участнике тренерского состава. Немного об участнике тренерского состава.
	</p>
<br>
{% endblock %}