<!DOCTYPE html>
{% load static %}
<html>
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}" type="text/css" >
  <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico">

  <!-- FOR BOOTSTRAP CDN UNCOMMENT -->
{#  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">#}

{#  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>#}

  <title>
    CLUB DELTA
  </title>

  <style type="text/css">
    .col-md-4 a {
      text-align: center;      
    }
    .col-md-1 {
      text-align: center;
    }
/*    .contacts {
      text-align: center;
    }
    #contact-link {
      display: inline !important;
    }*/
  </style>

</head>
<body>
  <div class="container">

    <!-- Navbar -->
    <div class="row">
      <div class="navbar">
        <div class="col-md-1">
          <a class="nav-link active" href="https://www.instagram.com/club.delta.kh/">Instagram</a>
        </div>
        <div class="col-md-1">
          <a class="nav-link active" href="https://www.facebook.com/club.delta.kh/">Facebook</a>
        </div>
        <div class="col-md-1">
          <a class="nav-link active" href="">+380957777777</a>
        </div>
        <div class="col-md-6"></div>
        <div class="col-md-1">
          <a class="nav-link active" href="{% url 'startpage'%}">На главную</a>
        </div>
        <div class="col-md-1">
          {% if request.user.is_authenticated %}
            <a class="nav-link" href="{% url 'userprofile' request.user.pk %}">Мой кабинет</a>
          {% else %}
            <a class="nav-link" href="{% url 'login'%}">Войти</a>
          {% endif %}
        </div>
        <div class="col-md-1">
          {% if request.user.is_authenticated %}
            <a class="nav-link" href="{% url 'logout' %}">Выйти</a>
          {% else %}
            <a class="nav-link" href="{% url 'register' %}">Регистрация</a>
          {% endif %}
        </div>
      </div>
    </div>
    <br>
    <br>

    {%block content%}
    {%endblock%}

<!-- contacts -->
    <!-- <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <div class="contacts">
          <a class="nav-link" id="contact-link" href="https://www.instagram.com/club.delta.kh/">Instagram</a>
          <a class="nav-link" id="contact-link" href="https://www.facebook.com/club.delta.kh/">Facebook</a>
          <a class="nav-link" id="contact-link" href="#">+380957777777</a>
        </div>
      </div>
      <div class="col-md-3"></div>
    </div> -->

  </div>
</body>
</html>