{% extends "base.html" %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block title %}Change user info{% endblock %}

{% block content %}
<style type="text/css">
  .form-group {
    text-align: center;
  }
</style>

    <div class="form-group">
      <br>
      <form method="post">{% csrf_token %}
      {{ form.as.p }}
      <button type ="submit">Submit</button>
      {{ user_form|crispy }}
      {{ extra_data_form|crispy }}
      <br>
      <!-- <input type="submit" value="Изменить"> -->
      </form>
      <br>
    </div>

{% endblock %}