{% extends "base.html" %}
{% load static %}

{% block title %}Club Delta{% endblock %}

{% block addons %}
{% endblock %}

{% block content %}

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Вас приветствует клуб "ДЕЛЬТА"!</h1>
    <p>Вас приветствует клуб подводной фотографии и дайвинга "ДЕЛЬТА" Харьковского областного Дворца детского и
    юношеского творчества.</p>

    <p>Мы приглашаем плавать с рождения в мир радости и гармонии общения с водой, сохраняя и
    поддерживая подаренные маленькому человечку природные возможности быть с водой на "ты"! Всех детей с
    пятилетнего возраста ждем в группы начальной подготовки. С 8-14 лет обучаем подводному плаванию по
    международной системе CMAS и подводному фотографированию. Творческие идеи и фантазии реализуются в
    художественных подводных композициях в бассейне. Вода великолепный помощник в этом!</p>

    <p>За стенами бассейна - буйство красок; вспыхивают мощные красные, синие, зеленые огни - происходит великое
    таинство, рождаются подводные кадры... Так проходит тренировка клуба подводных фотографов "Дельта". Полсотни
    мальчишек и девчонок фантазируют-вспыхивают блицы фотовспышек, срабатывают вспомогательные источники света,
    иногда возникают довольно оживленные дискуссии между моделями, фотографом и его ассистентами. Над одним
    кадром можно биться несколько недель и даже месяцев. Наиболее сложные художественные задачи решают ребята
    которые занимаются в клубе 4-5 лет, а младшие, глядя на творческие муки старших, многому учатся. Так от
    тренировки к тренировке набираются "кирпичики"-набор технических и творческих приемов, которые приходят к
    самостоятельному фотографу только в результате многолетней практики. Это самая настоящая школа, но без двоек
    и нравоучений. Хочешь быть подводным фотографом - будь им! С работами наших воспитанников познакомит Вас
    портфолио клуба.</p>

    <p>Основой практических занятий является обучение плаванию, подводному плаванию в маске, трубке и ластах,
    дайвингу и подводному фотографированию. На теории изучаем основы фотографии и композиции, знакомимся с
    подводным миром и его удивительными жителями.</p>

    <p>В нашей программе также знакомство с творчеством выдающихся писателей, музыкантов и художников, черпающих
    свое вдохновение у моря; с известными путешественниками и исследователями, подводными операторами и
    фотографами, чьи открытия и опыт вызывают восхищение и благодарность и рождают в детских сердцах красивые
    мечты. А мечты, как известно, сбываются! Потому что, испокон веку подводный мир манил к себе людей как
    величайшая загадка. В волнующей подводной стране можно созерцать чудесные сокровища и встретить
    фантастические существа. Когда созерцаешь бескрайнюю морскую гладь и можешь быть с водой на "ты", и увидеть
    великолепие подводных пейзажей и совершенно счастливым возвращаться на берег и к солнцу, и к звездному небу,
    самым естественным образом в душе рождается чувство "Я МОГУ ВСЕ". Многочисленные клубные экспедиции
    открывают нам тайны подводного царства.</p>

    <p>За тридцать лет, что существует клуб "Дельта", многие из его воспитанников стали победителями и призерами
    разнообразнейших фестивалей подводной фотографии. Франция (Антиб), Австралия, Чехия (Тахов),
    Турция (Стамбул, Мармарес), Россия (Саранск, С. Петербург, Москва), Украина (Донецк, Киев, Ялта) - названия
    этих городов многое скажут любюителю подводной фотографии. Клуб является 7-ми!!! кратным обладателем
    главного приза "Золотой аквалангист" - самого именитого Всемирного фестиваля подводных изображений,
    традиционно проходящего в городе Антиб (Франция).</p>
  </div>
</div>

<p>Популярные фото</p>

<p>Наша команда</p>

<p>Наша команда</p>

<p>Текущие конкурсы</p>

<p>Подводное фотографирование</p>

<p>Дайвинг</p>
{% endblock %}