{% extends "base.html" %}

{% block content %}

<style type="text/css">
  ul {
       -webkit-column-count: 3;
       -webkit-column-gap: 20px;
       -moz-column-count: 3;
       -moz-column-gap: 20px;
       column-count: 3;
       column-gap: 20px;
       text-align:justify;
  }
  ul li {
      width: 100%;
      margin-bottom: 20px;
      overflow: hidden;
  }

  ul li a img,
  ul li a {
      width: inherit;
  }
  ul li a span {
      display: block;
  }
</style>

    <br>
    <div class="row">

      <div class="col-md-3">
        <h1>Данные:</h1>
        <br>
        <p>Username: {{ object.username }}</p>
        <p>Имя: {{ object.first_name }}</p>
        <p>Фамилия: {{ object.last_name }}</p>
        <p>Имэйл: {{ object.email }}</p>
        <p>Рэйтинг: {{ object.rating }}</p>
        {% if request.user.id == current_user %}
            <p>Вы можете изменить свой <a href="{% url 'change_password' %}">пароль.</a></p>
        {% endif %}
      </div>
      
      <div class="col-md-9">

        {% if request.user.id == current_user %}
            <h3>Вы можете <a href="{% url 'upload_picture' %}">загрузить </a> свое изображение</h3>
        {% endif %}
        <ul>
          {% for pic in images %}
            <li><a href="{{ pic.picture.url }}"><img src="{{ pic.picture.url }}" alt=""/></a></li>
          {% empty %}
            <h4> Нет изображений </h4>
          {% endfor %}
        </ul>
      </div>

    </div>

      <br>
    </div>
{% endblock %}