{% extends "base.html" %}

{% block content %}
    <br>
    <div class="row">
      <div class="col-md-3">
        <h1>Ваши данные:</h1>
        <br>
        <p>Username: {{ object.username }}</p>
        <p>Имя: {{ object.first_name }}</p>
        <p>Фамилия: {{ object.last_name }}</p>
        <p>Имэйл: {{ object.email }}</p>
        <p>Рэйтинг: {{ object.rating }}</p>
        <p>Вы можете изменить свой <a href="{% url 'change_password' %}">пароль.</a></p>
      </div>
      
      <div class="col-md-9">
        <h3><a href="{% url 'upload_picture' %}">Загрузить </a> свое изображение</h3>
      </div>

      <br>
    </div>
{% endblock %}